@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
:root {
    --w: 85%;
    --titlesize: 7vw;
    --shadow-color: #ece288;
    --shadow-color-light: white;
    --shadow-color1: #fff38800;
    --shadow-color-light1: rgba(255, 255, 255, 0);
}

body {
    filter: brightness(0);
    padding: 0;
    display: block;
    background-color: #869099;
    background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
    text-align: justify;
    animation: on 2s ease-in forwards;
    font-family: 'Electrolize', sans-serif;
}

#main {
    margin: auto;
    border-radius: 1vw;
    width: var(--w);
    height: auto;
    background-color: #fffceb;
    background-image: url("https://www.transparenttextures.com/patterns/pw-pattern.png");
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 0.3vw rgba(255, 255, 255, 0.664), 0 0 1vw black;
}

#banner {
    position: relative;
    width: 100%;
    text-align: center;
}

#tesla-banner {
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    animation: colour 2s ease-in forwards;
}

#img-banner {
    width: 100%;
    height: auto;
    margin: 0;
}

#img {
    margin: 0;
    width: 100%;
    height: auto;
    border-radius: 1vw 1vw 0 0;
}

#title {
    margin: 0;
    padding: 0;
    background-color: #525252;
    background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
    color: #ffe0b0;
    font-size: var(--titlesize);
    text-shadow: 0 0 0.3vw white, 0 0 1vw black;
}

#light {
    position: absolute;
    left: 10.3%;
    top: 39%;
    width: 0;
    height: 0;
    background-color: rgb(255, 254, 234);
    z-index: 2;
    animation: neon 2s ease-in forwards;
}

#img-div {
    width: calc(var(--w) - 20vw);
    height: auto;
    margin: 1vw auto 0;
    padding: 0;
}

#image {
    box-shadow: 0 0 0.3vw white, 0 0 1vw black;
    margin: 0 auto 0.5vw;
    border-radius: 1vw;
    width: 100%;
    height: auto;
}

/* ANIMATIONS */

@keyframes neon {
    2% {
        box-shadow: -0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light), -0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light), 0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light), 0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light),
        0 0 0.15vw 0.15vw var(--shadow-color-light), 0 0 0.5vw 0.15vw var(--shadow-color-light), 0 0 1vw 1vw var(--shadow-color-light),
        0 0 1.5vw 1.5vw var(--shadow-color), 0 0 2vw 2vw var(--shadow-color), 0 0 2.5vw 2.5vw var(--shadow-color);
    }
    14% {
        box-shadow: -0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light1), -0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light1), 0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light1), 0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light1),
        0 0 0.25vw 0.25vw var(--shadow-color-light), 0 0 0.75vw 0.75vw var(--shadow-color-light1), 0 0 1.25vw 1.25vw var(--shadow-color-light1), 0 0 2vw 2vw var(--shadow-color-light1), 0 0 3vw 3vw var(--shadow-color-light1),
        0 0 2vw 2vw var(--shadow-color1), 0 0 2.5vw 2.5vw var(--shadow-color1), 0 0 3vw 3vw var(--shadow-color1);
    }
    18% {
        box-shadow: -0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light), -0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light), 0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light), 0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light),
        0 0 0.15vw 0.15vw var(--shadow-color-light), 0 0 0.5vw 0.15vw var(--shadow-color-light), 0 0 1vw 1vw var(--shadow-color-light),
        0 0 1.5vw 1.5vw var(--shadow-color), 0 0 2vw 2vw var(--shadow-color), 0 0 2.5vw 2.5vw var(--shadow-color);
    }
    30% {
        box-shadow: -0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light1), -0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light1), 0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light1), 0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light1),
        0 0 0.25vw 0.25vw var(--shadow-color-light), 0 0 0.75vw 0.75vw var(--shadow-color-light1), 0 0 1.25vw 1.25vw var(--shadow-color-light1), 0 0 2vw 2vw var(--shadow-color-light1), 0 0 3vw 3vw var(--shadow-color-light1),
        0 0 2vw 2vw var(--shadow-color1), 0 0 2.5vw 2.5vw var(--shadow-color1), 0 0 3vw 3vw var(--shadow-color1);
    }
    90% {
        box-shadow: -0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light), -0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light), 0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light), 0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light),
        0 0 0.25vw 0.25vw var(--shadow-color-light), 0 0 0.75vw 0.75vw var(--shadow-color-light), 0 0 1.25vw 1.25vw var(--shadow-color-light), 0 0 2vw 2vw var(--shadow-color-light), 0 0 3vw 3vw var(--shadow-color-light),
        0 0 2vw 2vw var(--shadow-color), 0 0 2.5vw 2.5vw var(--shadow-color), 0 0 3vw 3vw var(--shadow-color);
    }
    100% {
        box-shadow: -0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light1), -0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light1), 0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light1), 0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light1),
        0 0 0.25vw 0.25vw var(--shadow-color-light), 0 0 0.75vw 0.75vw var(--shadow-color-light1), 0 0 1.25vw 1.25vw var(--shadow-color-light1), 0 0 2vw 2vw var(--shadow-color-light1), 0 0 3vw 3vw var(--shadow-color-light1),
        0 0 2vw 2vw var(--shadow-color1), 0 0 2.5vw 2.5vw var(--shadow-color1), 0 0 3vw 3vw var(--shadow-color1);
    }   
}

@keyframes on {
    14% {filter: brightness(30%);}
    15% {filter: brightness(0%);}
    30% {filter: brightness(30%);}
    31% {filter: brightness(0%);}
    65% {filter: brightness(30%);}
    100% {filter: brightness(100%);}
}

@keyframes colour {
    14% {filter: grayscale(70%);}
    15% {filter: grayscale(100%);}
    30% {filter: grayscale(70%);}
    31% {filter: grayscale(100%);}
    65% {filter: grayscale(70%);}
    100% {filter: grayscale(0%);}
}