@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
:root {
    --bannerheight: auto;
    --bannerwidth: 100%;
    --base: 10px;
    --sizeincrement: 1vw;
    --w: 75%;
    --imgsize: var(--w);
    --shadow-color: #ece288;
    --shadow-color-light: white;
    --shadow-color1: #fff38800;
    --shadow-color-light1: rgba(255, 255, 255, 0);
    font-size: calc(var(--base) + var(--sizeincrement));
}

ul {list-style: none; padding: 0; margin: 0;}
a {color: #ffe0b0;}

body {
    filter: brightness(0);
    padding: 0;
    display: block;
    background-color: #869099;
    background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
    animation: on 2s ease-in forwards;
    font-family: 'Electrolize', sans-serif;
}

#main {
    margin: auto;
    border-radius: 1vw;
    width: var(--w);
    height: auto;
    background-color: #fffceb;
    background-image: url("https://www.transparenttextures.com/patterns/pw-pattern.png");
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    box-shadow: 0 0 0.2vw rgba(255, 255, 255, 0.664), 0 0 1vw black;
}

/* BANNER AND TITLE */

#banner {
    border-radius: 1vw 1vw 0 0;
    position: relative;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 0.2vw white, 0 0 1vw black;
    margin-bottom: 0.5rem;
}

#tesla-banner {
    width: var(--bannerwidth);
    height: var(--bannerheight);
    position: absolute;
    right: 0;
    top: 0;
    animation: colour 2s ease-in forwards;
}

#img-banner {
    width: 100%;
    height: auto;
    margin: 0;
}

#img {
    margin: 0;
    width: var(--bannerwidth);
    height: var(--bannerheight);
    border-radius: 1vw 1vw 0 0;
}

img {
    max-width: 100%;
    display: block;
}

#title {
    margin: 0;
    padding: 0;
    background-color: #525252;
    background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
    color: #ffe0b0;
    font-size: 4rem;
    text-shadow: 0 0 0.2vw white, 0 0 1vw black;
}

#light {
    position: absolute;
    left: 10.3%;
    top: 39%;
    width: 0;
    height: 0;
    background-color: rgb(255, 254, 234);
    z-index: 2;
    animation: neon 2s ease-in forwards;
}

/* FIRST IMAGE AND CAPTION */

#img-div {
    width: var(--imgsize);
    height: auto;
    margin: 1vw auto 0;
    padding: 0;
}

#image {
    margin: 0 auto 0.5vw;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    width: var(--imgsize);
    height: auto;
    border-radius: 1vw;
    box-shadow: 0 0 0.2vw white, 0 0 1vw black;
}

#img-caption {
    font-size: 0.8rem;
    text-align: justify;
    color: rgb(46, 46, 46);
}

/* TRIBUTE INFO */

h2 {
    font-size: 1.3rem;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.5);
    margin-top: 1rem;
    padding: 0.5rem;
    box-shadow: 0 0 0.3vw rgba(211, 211, 211), 0 0 1vw black;
}

#timeline {
    margin: -1rem auto 2rem;
    text-align: center;
    width: var(--w);
}

.year {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.year::before, .year::after {
      content: '';
      display: block;
      height: 0.1em;
      width: 15rem;
}
    
.year::before {
      background: linear-gradient(to right, rgba(0,0,0,0), #000);
      margin-right: 2rem;
}
    
.year::after {
      background: linear-gradient(to left, rgba(0,0,0,0), #000);
      margin-left: 2rem;
}

.description {
    margin-top: -1rem   ;
    line-height: 1.5rem;
    text-align: justify;
}

/* MORE */

#more {
    text-align: center;
    margin: auto 0;
    padding: 1rem 0;
    background-color: #525252;
    background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
    font-size: 2rem;
    border-radius: 0 0 1vw 1vw;
    text-shadow: 0 0 0.2vw white, 0 0 1vw black;
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
    :root {
        --bannerheight: 250px;
        --base: 18px;
        --sizeincrement: 0px;
        --w: 98%;
        --imgsize: 90%;  
    }

    #title {
        font-size: 3rem;
    }

    #tesla-banner {
        object-fit: cover;
        object-position: right;
    }
    #img {
        object-fit: cover;
        object-position: left;
    }

    #img-caption {
        font-size: 0.9rem;
    }

    #light {
        left: 68px;
        top: 125px;
    }
}

/* ANIMATIONS */

@keyframes neon {
    2% {
        box-shadow: -0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light), -0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light), 0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light), 0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light),
        0 0 0.15vw 0.15vw var(--shadow-color-light), 0 0 0.5vw 0.15vw var(--shadow-color-light), 0 0 1vw 1vw var(--shadow-color-light),
        0 0 1.5vw 1.5vw var(--shadow-color), 0 0 2vw 2vw var(--shadow-color), 0 0 2.5vw 2.5vw var(--shadow-color);
    }
    14% {
        box-shadow: -0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light1), -0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light1), 0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light1), 0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light1),
        0 0 0.25vw 0.25vw var(--shadow-color-light), 0 0 0.75vw 0.75vw var(--shadow-color-light1), 0 0 1.25vw 1.25vw var(--shadow-color-light1), 0 0 2vw 2vw var(--shadow-color-light1), 0 0 3vw 3vw var(--shadow-color-light1),
        0 0 2vw 2vw var(--shadow-color1), 0 0 2.5vw 2.5vw var(--shadow-color1), 0 0 3vw 3vw var(--shadow-color1);
    }
    18% {
        box-shadow: -0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light), -0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light), 0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light), 0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light),
        0 0 0.15vw 0.15vw var(--shadow-color-light), 0 0 0.5vw 0.15vw var(--shadow-color-light), 0 0 1vw 1vw var(--shadow-color-light),
        0 0 1.5vw 1.5vw var(--shadow-color), 0 0 2vw 2vw var(--shadow-color), 0 0 2.5vw 2.5vw var(--shadow-color);
    }
    30% {
        box-shadow: -0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light1), -0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light1), 0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light1), 0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light1),
        0 0 0.25vw 0.25vw var(--shadow-color-light), 0 0 0.75vw 0.75vw var(--shadow-color-light1), 0 0 1.25vw 1.25vw var(--shadow-color-light1), 0 0 2vw 2vw var(--shadow-color-light1), 0 0 3vw 3vw var(--shadow-color-light1),
        0 0 2vw 2vw var(--shadow-color1), 0 0 2.5vw 2.5vw var(--shadow-color1), 0 0 3vw 3vw var(--shadow-color1);
    }
    90% {
        box-shadow: -0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light), -0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light), 0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light), 0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light),
        0 0 0.25vw 0.25vw var(--shadow-color-light), 0 0 0.75vw 0.75vw var(--shadow-color-light), 0 0 1.25vw 1.25vw var(--shadow-color-light), 0 0 2vw 2vw var(--shadow-color-light), 0 0 3vw 3vw var(--shadow-color-light),
        0 0 2vw 2vw var(--shadow-color), 0 0 2.5vw 2.5vw var(--shadow-color), 0 0 3vw 3vw var(--shadow-color);
    }
    100% {
        box-shadow: -0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light1), -0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light1), 0.05vw -0.05vw 0.05vw 0.05vw var(--shadow-color-light1), 0.05vw 0.05vw 0.05vw 0.05vw var(--shadow-color-light1),
        0 0 0.25vw 0.25vw var(--shadow-color-light), 0 0 0.75vw 0.75vw var(--shadow-color-light1), 0 0 1.25vw 1.25vw var(--shadow-color-light1), 0 0 2vw 2vw var(--shadow-color-light1), 0 0 3vw 3vw var(--shadow-color-light1),
        0 0 2vw 2vw var(--shadow-color1), 0 0 2.5vw 2.5vw var(--shadow-color1), 0 0 3vw 3vw var(--shadow-color1);
    }   
}

@keyframes on {
    14% {filter: brightness(30%);}
    15% {filter: brightness(0%);}
    30% {filter: brightness(30%);}
    31% {filter: brightness(0%);}
    65% {filter: brightness(30%);}
    100% {filter: brightness(100%);}
}

@keyframes colour {
    14% {filter: grayscale(70%);}
    15% {filter: grayscale(100%);}
    30% {filter: grayscale(70%);}
    31% {filter: grayscale(100%);}
    65% {filter: grayscale(70%);}
    100% {filter: grayscale(0%);}
}